.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  &__content {
    background-color: $color-white;
    width: 75%;
    height: 70%;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
    @include center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s;
    overflow: hidden;
    &--close {
      &:link,
      &:visited {
        position: absolute;
        top: 1.5rem;
        right: 3rem;
        font-size: 3rem;
        color: $color-grey-dark;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
      }
      &:hover {
        color: $color-primary;
      }
    }
    &--img {
      display: block;
      width: 100%;
      &-1 {
        display: block;
        width: 100%;
      }
    }

    &--left {
      display: table-cell;
      width: 33.33333%;
      vertical-align: middle;
    }
    &--right {
      display: table-cell;
      vertical-align: middle;
      width: 66.666667%;
      padding: 3rem 5rem;
    }

    &--text {
      font-size: 1.4rem;
      margin-bottom: 4rem;
      column-count: 2;
      column-gap: 4rem;
      column-rule: 1px solid $color-grey-light-2;
      -moz-column-count: 2;
      -moz-column-gap: 4rem;
      -moz-column-rule: 1px solid $color-grey-light-2;
      hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
    }
  }
}
@include respond(tab-land) {
  .popup {
    &__content {
      height: 50%;
      &--img {
        width: 105%;
        &-1 {
          width: 105%;
        }
      }
    }
  }
}

@include respond(tab-port) {
  .popup {
    &__content {
      width: 75%;
      height: 60%;
      display: block;
      &--close {
        &:link,
        &:visited {
          position: absolute;
          top: 1.5rem;
          right: 3rem;
          font-size: 3rem;
          color: $color-grey-dark;
          cursor: pointer;
          text-decoration: none;
          display: inline-block;
        }
        &:hover {
          color: $color-primary;
        }
      }
      &--img {
        display: inline-block;
        width: 50%;
      }
      &--img-1 {
        position: relative;
        display: inline-block;
        width: 49%;
      }
      &--left {
        display: block;
        width: 100%;
      }
      &--right {
        display: block;
        width: 100%;
      }
    }
  }
}
